<link rel="stylesheet" href="/css/practice/puzzle.css">
<body>
    <div class="puzzle-game">
        <p class="time">0</p>
        <ul class="puzzle-img">
        </ul>
        <button class="start-button">Start</button>
        <p class="game-text">Completed</p>
    </div>
    <script src="/js/practice/puzzle.js"></script>
</body>